.flex {
  display: flex;  
}

.box {
  width: 40vw;
}

form {
  width: 300px;
}

.dayFood {
  margin-left: 100px;
}

.is-small {
  margin-right: 20px;
  margin-bottom: 20px;
}

#h1 {
  font-size: 4em;
}

.search {
  margin-bottom: 20px;
}
